/*Estilo para todo el documento*/
body {
   
    background-color: rgb(178, 240, 245);
    font-family: Tahoma;
    font-size: 11px;
    width: 1200px;
    margin: auto;
}
/*Estilo para la imagen arriba*/
#logo {	
    background: url(../img/logo.png)  no-repeat right;
    margin: 0 0px;
    background-size: 20%;
    padding: 10em 0em 5em 0em;
    text-transform: uppercase;	
}
/*Estilo para la etiqueta a incluida en H1*/
#logo h1 a {
    margin: 0em;
    padding: 0;
    letter-spacing: -.1em;
    text-decoration: none;
    font-size:3em;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #380788;
}
/*Estilo para el subtitulo "BIENVENIDOS A NUESTRO SITIO WEB"*/
#subtitulo {
    padding: 0em;
    margin-top:-1em;
    font-size: 1.5em;
    color: #dd1b1b;
}
/*Estilo para los elementos de la lista del menu*/
#menu li {
    display: inline-block;
    margin-top: -2em;
}

/*Estilo para la etiqueta del Menu de opciones*/
#menu a {
    display: block;
    float: left;
    margin-right: 0.12em;
    padding: 1em 1.5em;
    background: #dd8715;
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    text-shadow: 1px 1px 0px #0C749C;
    text-transform: uppercase;
    font-size: .90em;
    color: #FFFFFF;
}
/*Estilo para la seccion que muestra el contenido*/
#seccion{
    width:1198px;
    padding: 0px 10px;
    background:#9ad464;
    height:270px;	
}

/*Estilo para la seccion los servicios*/
#seccionServicios{
    width:1150px;
    padding: 20px 40px;
    background:#FFF;
    height:280px;	
}

/*Estilo para la imagen que se encuentra dentro de la seccion*/
#imagen{
    margin: 0px;
    width:380px;
    height:200px;
    text-align:center;	
}
/*Estilo para el titulo dentro de la seccion*/
#subtitulo2{
    font-family:Tahoma, Geneva, sans-serif;
    font-size:40px;
    color:rgb(226, 51, 20);	
}
/*Estilo para el texto del lado derecho*/
#ladoderecho{
    margin: -5px 20px 0px 0px;
    float:right; 
    width: 65%; 
    text-align:justify;	
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    color:#360fe2;	
}

/*Estilo para las imagenes presentadas */
#image1 {float:left; width: 400px; height:400px;	background-color: #9b0a0a; border-top: 4px solid rgb(76, 76, 76)}
#image2 {float:right; width: 400px; height:400px;	background-color: #2e79db; border-top: 4px solid rgb(76, 76, 76)}
#texto1 {margin: auto; width: 400px; height:400px;	background-color: #c9c9c9;border-top: 4px solid rgb(76, 76, 76)}
#image3 {float:left; width: 400px; height:400px;	background-color:#136abb;border-top: 4px solid rgb(76, 76, 76)}
#texto2 {margin: auto; width: 400px;	height:400px;	background-color: #c9c9c9; border-top: 4px solid rgb(76, 76, 76)}
#image4 {float:right; width: 400px;	height:400px;	background-color: #79be41; border-top: 4px solid rgb(76, 76, 76)}
/*Estilo para el pie del documento */
#pie{
    text-align:center;	
    font-size: 20px;
    background-color: #c9c9c9;
    font-weight: bold;
}
/*Estilo para todo los parrafos del documento*/
p {
    font-family:Tahoma;
    font-size:11pt;	
    color: #380788;
}

/*Estilo para el texto mostrado en el lado izquierdo NOSOTROS*/
#ladoizquierdo{
	margin: -5px 20px 0px 0px;
	float:left; 
	width: 65%; 
	font-size:11px;
	text-align:justify;		
	color:#666;
}

/**/
#columna{
	margin: -5px 20px 0px 0px;
	float:left; 
	width: 30%; 		
	color:#666;
}
#seccionextensa{
	width:1050px;
	padding: 20px 40px;
	background:#FFF;
	height:auto;		
}
#centrado{
	text-align:center;	
}
#lista li{
	font-size:11px;	
}


